.combProduct_Container{
    /* background-color: aqua; */
    padding: 1rem 3rem 1rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.headingOfPro{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.productCard{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.allProductRedirect{
    cursor: pointer;
}